<h1>{{title}}</h1>
<ul>
  {{#each bookinstance_list}}
    <li>
      <a href={{url}}>{{book.title}} : {{imprint}}</a>
        <span> - </span>
        {{#if available}} 
          <span class="text-success">{{status}}</span>
        {{else}}
          <span class="text-warning">{{status}}</span>
        {{/if}}
        {{#unless available}}
          <span>(Due: {{due_back_formatted}})</span>
        {{/unless}}
    </li>
  {{/each}}
  {{#unless bookinstance_list}}
    <li>There are no book copies in this library</li>
  {{/unless}}
</ul>