<h1>{{genre.name}}</h1>
<div style="margin-left:20px; margin-top:20px;">
  <h4>Books</h4>
  <dl>
    {{#each genre_books}}
      <dt><a href={{url}}>{{title}}</a></dt>
      <dd>{{summary}}</dd>
    {{/each}}
    {{#unless genre_books}}
      <p>This genre has no books</p>
    {{/unless}}
  </dl>
</div>
<hr>
<p>
  <a href="{{genre.url}}/delete">Delete Genre</a>
</p>
<hr>
<p>
  <a href="{{genre.url}}/update">Update Genre</a>
</p>